@section Styles {
    <link rel="stylesheet" href="~/css/index_Style.css">
}

@using System.Text.Json;
@model Comme_Chez_Swa.Models.Home.IndexViewModel

@{
    Dictionary<string, object>? imageConfigInstance = ViewData["ImageConfig"] as Dictionary<string, object>;
    string? logoPath = null;

    if (imageConfigInstance != null)
    {
        logoPath = imageConfigInstance["commeChezSwaLogo"] as string;
    }
}


<div id="home-root" class="container">
    <div id="home_root-menuContainer" class="d-flex flex-column align-items-center">

        <img id="menuContainer-Logo"
             src="@logoPath" title="Comme Chez Soi Logo"
             alt="Large image of Restaurant &quot;Comme Chez Swa&quot;"
             class="img-fluid rounded" role="img" loading="lazy" width="300"
             onerror="this.onerror=null; this.src='/img/image_not_found.jpg'">

        <h1 id="menuContainer-Greeting" class="mt-2">@Model.TimeBasedMenuContentObject.TimeBasedGreetingType</h1>

        <p id="menuContainer-MenuLink">
            @Model.TimeBasedMenuContentObject.TextBeforeTimeBasedMenuName
            <a id="home_root_contentContainer-MenuLink"
               class="mt-2 menuLink"
               asp-controller=@Model.TimeBasedMenuContentObject.MenuControllerName
               asp-action=@Model.TimeBasedMenuContentObject.MenuControllerActionName
               asp-route-menuType=@Model.TimeBasedMenuContentObject.TimeBasedMenuType>@Model.TimeBasedMenuContentObject.TimeBasedMenuType.ToString().ToLower()</a>
            @Model.TimeBasedMenuContentObject.TextAfterTimeBasedMenuName
        </p>
    </div>
</div>
