@* Code section: VIEW DATA *@
@{
    ViewData["Title"] = "Testing out the template";
}

@model OnePieceQualitiesModel

@* Code section:  LICENSE INFO *@
<!-- =======================================================
  * Template Name: TheEvent
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
@* Code section:  STYLES *@
@* Using Razor @section to include view-specific CSS in ASP.NET Core. *@
@section Styles {
    <!-- Favicons -->
    <link rel="icon" href="~/template_assets/img/favicon.png">
    <link rel="apple-touch-icon" href="~/template_assets//img/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/template_assets/vendor/aos/aos.css">
    <link rel="stylesheet" href="~/template_assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/template_assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/template_assets/vendor/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="~/template_assets/vendor/swiper/swiper-bundle.min.css">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/template_assets//css/style.css">
}

@* Code section:  DYNAMIC CONTENT *@
<div>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <video autoplay muted>
            <source src="/videos/kaido-flame-dragon-torch.mp4" type="video/mp4">
        </video>
        <div id="landingPage_VideoOverlayElements" class="hero-container d-flex flex-column justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div id="onePieceLogo">
                <span class="clip-text-1">
                    ONE
                </span>
                <span class="clip-text-2">
                    PIECE
                </span>
            </div>
            <div id="verticalFlexcontainer_OverlayLinks" class="d-flex flex-column justify-content-center">
                <div id="horizontalFlexcontainer_OverlayLinks-HaveATaste" class="d-flex flex-row justify-content-center align-items-center">
                    <span>What is One Piece</span>
                    <a href="https://youtu.be/E1n2GJiyPuA" class="glightbox play-btn m-lg-2"></a>
                </div>
                <div id="horizontalFlexcontainer_OverlayLinks-ReadMore" class="d-flex flex-row justify-content-center align-items-center">
                    @* <a href="#onePieceQualities" class="about-btn scrollto">or read more about One Piece</a> DEFECTIVE*@
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <section id="onePieceQualities">
        <div class="container" data-aos="fade-up">
            <div class="section-header mt-2">
                <h2>Key to Onepiece</h2>
                <p>Some things that are part of this great story!</p>
            </div>

            <div class="row">
                @foreach (var quality in Model.OnePieceQualities)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                            <img src="@quality.ImageUrl" alt="@quality.Name" class="img-fluid">
                            <div class="details">
                                <h3><a href="@quality.ExploratoryLink">@quality.Name</a></h3>
                                <p>@quality.Description</p>
                                @* <div class="social">
                            <!-- You can populate this section dynamically if you have social links in your model -->
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            </div> *@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>

@* Code section:  SCRIPTS *@
@* Using Razor @section to include view-specific JavaScript files in ASP.NET Core. *@
@section Scripts {
    <!-- Vendor JS Files -->
    <script src="~/template_assets/vendor/aos/aos.js"></script>
    <script src="~/template_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template_assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/template_assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/template_assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/template_assets/js/main.js"></script>
}

